body{
    display:flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
}


.pelota{
    width: 100px;
    height: 100px;
    border-radius:50%;
    transition:1s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.pelota.a{
    background: red;
    left: 0;
}

.pelota.b{
    background: blue;
    right: 0;
}

.canasta{
    border: 1px solid black;
    height: 200px;
    position: relative;
    width: 100%;
    transform: rotate(5deg) skew(10deg) translate(100px) scale(0.5);
}

.canasta:hover .pelota.a{
  left: calc(50% - 100px);
}

.canasta:hover .pelota.b{
    right: calc(50% - 100px);
}

/*
con las Transformaciones html podemos hacer lo sig con un elemento
transform: rotar | sesgar | posicion | tamaño


*/