body{
    display:flex;
    height: 100vh;
    justify-content: center;
    justify-items: center;
}


.pelota{
    width: 100px;
    height: 100px;
    border-radius:50%;
    /*transition-property: width,...; Prpiedades a modificarse
    /*transition-duration: 1s; Duracion
    /*transition-delay: 500ms;Tiempo que tarda en empezar
    /*transition-timing-function: ease;Tipo de trasicion*/
    transition:1s;/**da peos con las propiedades*/
    /*propiedades,duracion,delay(opcional),tipo de transicion*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.pelota.a{
    background: red;
    left: 0;
}

.pelota.b{
    background: blue;
    right: 0;
}

.canasta{
    border: 1px solid black;
    height: 200px;
    position: relative;
    width: 100%;
}

.canasta:hover .pelota.a{
  left: calc(50% - 100px);
}

.canasta:hover .pelota.b{
    right: calc(50% - 100px);
}