.pelota{
    width: 100px;
    height: 100px;
    border-radius:50%;
    background-color:blue;
    /*transition-property: width,...; Prpiedades a modificarse
    /*transition-duration: 1s; Duracion
    /*transition-delay: 500ms;Tiempo que tarda en empezar
    /*transition-timing-function: ease;Tipo de trasicion*/
    transition:1s ease;/**da peos con las propiedades*/
    /*propiedades,duracion,delay(opcional),tipo de transicion*/
    /* transition: rotate(x,y,z) */
    /* transition: rotateX(deg);
    transition: rotateY(deg);
    transition: rotateZ(deg); */

}

.pelota:hover{
    width: 200px;
    height: 200px;
}