.wrap{
    display:flex;
    justify-content: center;
    align-items:flex-end;
    height: 90vh;
}
.wrap_cohete img{
    width: 30vw;
    border-radius: 50%;
    will-change: transform;
    animation: 10s linear infinite forwards;
    /* animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 10s; */
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.btn:first-child{
    text-align: center;
    background: #7dc800;
    padding: .6em .8em .8em;
    border: none;
    color: blue;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: inset x y */
    outline: 0;
    transition: .2s;
    will-change: transform;
}

.btn:nth-child(2){
    text-align: center;
    background: red;
    padding: .6em .8em .8em;
    border: none;
    color: yellow;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: inset x y */
    outline: 0;
    transition: .2s;
    will-change: transform; 
}

.btn:nth-child(3){
    text-align: center;
    background: orange;
    padding: .6em .8em .8em;
    border: none;
    color: red;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: inset x y */
    outline: 0;
    transition: .2s;
    will-change: transform; 
}

.btn:active{
    transform: scale(.8);
}

@keyframes despegue{
    0%{
        transform:rotate(0) translate(0,0);
    }

    20%{
        transform: translate(0,0) rotate(-43deg);
    }
    50%{
        transform: translate( 0, calc(-100vh + 313px)) rotate(-43deg);
    }

    70%{ 
        transform: translate(0, calc(-100vh + 313px)) rotate(-223deg);
    }

    100%{
        transform: translate(0 ,0) rotate(-223deg);
    }
}
